%nav.navbar.navbar-expand-lg.bg-dark.bg-gradient
  .container-fluid
    %a.navbar-brand.text-white{:href => "#"} Vagas Everywhere
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active.text-white{"aria-current" => "page", :href => "#"} Inicio
        %li.nav-item
          %a.nav-link.text-white{:href => "#"} Login/Cadastro
        -# %li.nav-item.dropdown
        -#   %a.nav-link.dropdown-toggle.text-white{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
        -#     Dropdown
        -#   %ul.dropdown-menu
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Action
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Another action
        -#     %li
        -#       %hr.dropdown-divider/
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Something else here
        -# %li.nav-item
        -#   %a.nav-link.disabled.text-white Disabled

